.list-container {
    display: flex;
    background: #fff;
    border-radius: 5px;
    flex-direction: column;

    li {
        height: 50px;
        line-height: 50px;
        list-style: none;
        border-bottom: 1px dotted #ccc;

        a {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            color: #333;

            .title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .date {
                font-family: monospace;
            }
        }
    }
}

@media (max-width: 350px) {
    .date {
        display: none;
    }
}
