<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="技术笔记 前端开发"/>
    <title><%- config.title %></title>
    <%- css("/styles/layout.css") %>
</head>
<body>
    <div class="main">
        <%- body %>
    </div>
</body>
</html>
